<body>
    <nav>
        <a class="navbar-brand">Mi primera aplicación SPA</a>
    </nav>
    <div  id="container">
    
    <div class="row">
        <div class="col-md-12" >
            <h5>Nombre del país: <span id="pais">{{pais | uppercase}}</span></h5>
        </div>
    
        <div class="col-md-4 mt-3 mb-4">
            <img width="300" height="190" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;" class="rounded"
            src={{urlimage}} alt="">
        </div>
    
        <div class="col-md-7 mt-4 mb-2" id="parrafo">
            <p>Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española.</p>
            <p>Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
        </div>
    
        <hr>
    
        <div class="row">
            <div class="col-md-4 mt-3" id="card">
    
                <div class="page">
                    <div class="wrapper">
                      <div class="front">
                        <p><img width="100%" height="auto" src="https://i.pinimg.com/originals/0f/44/30/0f4430d06fdb422b451aa5252b9124ee.jpg"></p>
                      </div>
                      <div class="back">
                        <p>Uruguay, oficialmente República Oriental del Uruguay, es un país de América del Sur, situado en la parte oriental del Cono Sur americano. </p>
                      </div>
                    </div>
                  </div>
            </div>
    
            <div class="col-md-4 mt-3" id="card">
    
                <div class="page">
                    <div class="wrapper">
                      <div class="front">
                        <p><img width="100%" height="auto" src="https://d3lqdljps13i2n.cloudfront.net/recursos/147/4708941/imagen_1_1565227400.gif"></p>
                      </div>
                      <div class="back">
                        <p>Limita al noroeste con Brasil, al oeste con Argentina y tiene costas en el océano Atlántico al surueste y sobre el Río de la Plata hacia el sur. </p>
                      </div>
                    </div>
                  </div>
    
            </div>
    
            <div class="col-md-4 mt-3" id="card">
    
                <div class="page">
                    <div class="wrapper">
                      <div class="front">
                        <p><img width="100%" height="auto" src="https://uvn-brightspot.s3.amazonaws.com/assets/vixes/p/poblacion-uruguaya_2.jpg"></p>
                      </div>
                      <div class="back">
                        <p>Según los datos del último censo del INE en 2011, la población de Uruguay es de 3.290.454 habitantes. 

                        </p>
                      </div>
                    </div>
                  </div>
    
            </div>
        </div>
    
    
        
    
    </div>
    
    
    </div>
    </body>